<md-tab-group>
    <md-tab label="Overview">
        <p>Este codigo permite al usuario encender y apagar unas entradas digitales y hacer una lectura de estas. El usuario
            mediante unos botones puede apagar y encender los LEDs.
        </p>
        <h4>Hardware</h4>

        <ul>
            <li>Arduino Leonardo</li>
            <li>4x Resistencia 330 ohm</li>
            <li>4x LED</li>
        </ul>

        <h4>Circuito</h4>
        <img src="../../../assets/schemas/led.png">
    </md-tab>


    <md-tab label="Code">
        <div class="row">
            <div class="col-md-6">
                Arduino
            </div>
            <div class="col-md-6">
                TypeScript
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="max-height:400px; overflow-y: scroll;">
                <section [innerHTML]="sampleContent1" highlight-js-content=".highlight"></section>
            </div>
            <div class="col-md-6" style="max-height:400px; overflow-y: scroll;">
                <section [innerHTML]="sampleContent2" highlight-js-content=".highlight"></section>
            </div>
        </div>
    </md-tab>



    <md-tab label="Example">
        <div style="margin: 10px;">
            <div>
                <div class="boton">
                    <span>PIN12</span>
                    <md-slide-toggle  (click)="toggle(12)">Slide me!</md-slide-toggle>
                   
                </div>
                <div class="boton">
                    <span>PIN11</span>
                    <md-slide-toggle  (click)="toggle(11)">Slide me!</md-slide-toggle>
                </div>
                <div class="boton">
                    <span>PIN10</span>
                    <md-slide-toggle  (click)="toggle(10)">Slide me!</md-slide-toggle>
                </div>
                <div class="boton">
                    <span>PIN9</span>
                    <md-slide-toggle  (click)="toggle(9)">Slide me!</md-slide-toggle>
                </div>
            </div>
        </div>

    </md-tab>
</md-tab-group>
