img {
    width: 600px;
}

pre{
    height: 700px;
}

.boton{
    margin-top: 5px;
}


.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgb(0, 151, 157)!important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(7, 163, 255, 0.35)!important;
}