<md-tab-group>
    <md-tab label="Overview">
        <div class="content">
            <p>Sandbox para live conding
            </p>
            <h4 class="titles2">Hardware</h4>

            <ul>
                <li>Arduino Leonardo</li>
            </ul>
        </div>
    </md-tab>

    <md-tab label="Code">
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    Sketch Arduino
                </div>

            </div>
            <div class="row">
                <div class="col-md-6" style="max-height:400px; overflow-y: scroll;">
                    <!--<section [innerHTML]="sampleContent1" highlight-js-content=".highlight"></section>-->
                </div>
            </div>
        </div>
    </md-tab>

    <md-tab label="Sandbox">
        <h4 class="titles2">Live comunicate
            <md-icon class="link">usb</md-icon>
        </h4>

        <div class="content">
            <div class="row">
                    <div class="col-md-6">


                        <md-input-container style="min-width:100%;">
                            <textarea mdInput mdTextareaAutosize placeholder="Code..." [(ngModel)]="textToSend"></textarea>
                        </md-input-container>

                    </div>

                    <div class="col-md-6">

                        Response...
                    </div>


                    <br> {{text}}
                    <br>
                    <button md-raised-button color="accent" (click)="send()"> Send </button>
            </div>


        </div>

    </md-tab>
</md-tab-group>