<!--ROUTER -->
<style>
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .material-icons.md-48 {
    font-size: 48px;
  }
</style>


<md-toolbar color="primary" class="menuSmall">
  <a [routerLink]="['/']"> <img src="../assets/Pictures/logo.png" alt=""></a>
  <span class="example-spacer"></span>

  <button md-button [routerLink]="['/']">Home</button>
  <button md-button [routerLink]="['getStarted']">Get Started</button>
  <button md-button [mdMenuTriggerFor]="demos">Demos</button>
  <md-menu #demos="mdMenu">
    <button md-menu-item [routerLink]="['LED']">LED</button>
    <button md-menu-item [routerLink]="['LCD']">LCD</button>
    <button md-menu-item [routerLink]="['poten']">Potenciómetro</button>
    <button md-menu-item [routerLink]="['pong']">Pong</button>
    <button md-menu-item [routerLink]="['sandbox']">Sandbox</button>
  </md-menu>
  <button md-button [routerLink]="['wiki']">Wiki</button>
  <button md-button [routerLink]="['about']">About</button>

  <span class="example-spacer"></span>
  <button id="connect" class="button__inner" (click)="openSnackBar($event,'Device')">Connect</button>
</md-toolbar>

<div class="container">
      <router-outlet></router-outlet>
</div>