<h3 class="titles1">
    Wiki
    <md-icon>usb</md-icon>
</h3>
<div class="content">

    <h4 class="titles2">Arduino Leonardo
        <i class="material-icons link">settings</i>
    </h4>
    <hr>

    <p>
        Es una placa electrónica basada en el microcontrolador ATmega32u4 el cual incorpora comunicación USB. Posee 32KB de memoría.
        <br> Puede ser alimentada a través de la conexión micro USB o con una fuente de alimentación externa de entre 6-20
        Voltios.<br> Gestiona 20 pines E/S digitales que se pueden utilizar como entrada o salida. Proporciona un máximo
        de 40 mA.<br> Dispone de un botón de reset, protección en el pin 13 para conectar directamente un led sin preocuparnos
        de su voltage y leds integrados, entre estos un led linkado con el pin 13.
    </p>
    <img src="../../assets/Pictures/arduino-leo.png" style="width: 50%;"> <br>

    <p>Mas info:
        <a class="link" href="https://www.arduino.cc/en/main/arduinoBoardLeonardo" target="blank_"> https://www.arduino.cc/en/main/arduinoBoardLeonardo</a><br>
    </p>

    <hr>
    <h4 class="titles2">LED
        <i class="material-icons link">wb_incandescent</i>
    </h4>
    <hr>
    <p>
        <b>L</b>ight-<b>E</b>mitting <b>D</b>iode. <br> Tiene una vida útil de 80 000 a 100 000 horas antes de que su brillo
        se empiece a atenuar.<br> Un voltaje muy alto puede provocar que el LED se queme,te dejamos una calculadora de resistencias
        <a class="link" href="https://www.inventable.eu/paginas/LedResCalculatorSp/LedResCalculatorSp.html" target="blank_">calculadora de resistencias</a>        para que no sigas quemando leds. <br> Existen tres formas principales de conocer la polaridad de un led:<br>
    </p>
    <ul>
        <li>La pata más larga siempre va a ser el ánodo o positivo. </li>
        <li> En el lado del cátodo, la base del led tiene un borde plano. </li>
        <li>Dentro del led, la plaqueta indica el ánodo. Se puede reconocer porque es más pequeña que el yunque, que indica el
            cátodo.
        </li>

    </ul>
    <img src="../../assets/Pictures/LEDschema.jpg" style="width: 30%;"> <br>

    <p>
        Fuentes:<br>
        <a class="link" href="https://es.wikipedia.org/wiki/Led" target="blank_">https://es.wikipedia.org/wiki/Led</a><br>
        <a class="link" href="https://www.inventable.eu/paginas/LedResCalculatorSp/LedResCalculatorSp.html" target="blank_">
        https://www.inventable.eu/paginas/LedResCalculatorSp/LedResCalculatorSp.html</a><br>
    </p>
    <hr>

    <h4 class="titles2">Resistencia</h4>
    <hr>
    <p>
        Una resistencia también llamado resistor es un elemento que causa oposición al paso de la corriente, causando que en sus
        terminales aparesca una diferencia de tensión (un voltaje).<br> Para poder saber el valor de las resistencias
        sin tener que medirlas, existe un código de colores de las resistencia que nos ayuda a obtener con facilidad este
        valor con sólo verlas.
    </p>
    <img src="../../assets/Pictures/Rescolor.jpg" style="width: 50%;"> <br>

    <p>
        Fuentes:<br>
        <a class="link" href="http://unicrom.com/resistor-resistencia/" target="blank_">http://unicrom.com/resistor-resistencia/</a><br>
    </p>
    <hr>

<h4 class="titles2">LCD <i class="material-icons link">gradient</i></h4>
    <hr>
    <p>
       LCD viene del inglés <b>L</b>iquid <b>C</b>rystal <b>D</b>isplay, o sea Pantalla de cristal liquido.
       El modelo que utilizamos en las demos es <b>1602</b>, 16×2 (16 caracteres x 2 líneas).<br>
    </p>
    <img src="../../assets/Pictures/lcdschema.jpg" style="width: 50%;"> <br>

    <p>
        Para mas info:<br>
        <a class="link" href="http://www.prometec.net/displays-lcd/" target="blank_">http://www.prometec.net/displays-lcd/</a><br>
    </p>


</div>