<md-tab-group>
    <md-tab label="Overview">
        <div class="content">
            <p>Mediante la lectura analógica de un potenciómetro el usuario puede regular un potenciometro y ver los voltios
                o el porcentage de este.Los datos son representados en unos gráfico.
            </p>
            <h4 class="titles2">Hardware</h4>

            <ul>
                <li>Arduino Leonardo</li>
                <li>1x Pontenciómetro</li>
            </ul>

            <h4 class="titles2">Circuito</h4>
            <img src="../../../assets/schemas/potenSketch.png">
        </div>
    </md-tab>


    <md-tab label="Code">
        <div class="content">


            <div class="row">
                <div class="col-md-6">
                    Arduino
                </div>
                <div class="col-md-6">
                    TypeScript
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="max-height:400px; overflow-y: scroll;">
                    <section [innerHTML]="sampleContent1" highlight-js-content=".highlight"></section>
                </div>
                <div class="col-md-6" style="max-height:400px; overflow-y: scroll;">
                    <section [innerHTML]="sampleContent2" highlight-js-content=".highlight"></section>
                </div>
            </div>
        </div>
    </md-tab>



    <md-tab label="Example">
        <div class="content">
            <div>
                <button type="button" class="btn btn-default">Start</button>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Porcentaje: </h3>
                    <h3 id="valPor">

                    </h3>
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
                <div class="col-md-6">
                    <h3>Voltaje: </h3>
                    <h3 id="valVolt">

                    </h3>
                    <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>

    </md-tab>
</md-tab-group>