/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    margin: 0 auto;
    width: 73%;
    margin-top: 94px;
    background-color: white;
    padding: 15px;
    display: grid;
    border-radius: 6px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}


md-toolbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.mat-toolbar.mat-primary {
    background-color: rgb(0, 151, 157);
    
}

.menuBig {
    height: 148px;
}

.menuSmall {
    height: 71px;
}

.mat-toolbar-layout{
    margin-top: 53px;
}

md-toolbar-row {
    height: 0px!important;
}

md-toolbar-row .mat-button {
    margin-bottom: 20px;
}


h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
}

body > app-root > md-toolbar{
    z-index: 3;
}
button:focus{
outline-width: 0;
}
.container{
    padding: 0px;
}
#connect {
    margin-top: -33px;
  display: inline-block;
  padding: 7px 17px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: orange;
  border: none;
  
  box-shadow: 0 9px #999;
}

#connect:hover {background-color:orange }

#connect:active {
  background-color: orange;
  box-shadow: 0 5px lightgray;
  transform: translateY(4px);
}


div.content{
    padding: 50px;
}
.link{
    color: #00979D;
    text-decoration: none;
}
.link:hover{
    color: #F1C40F;
    text-decoration:none;
}
.link:active{
    text-decoration:none;
    color: #00979D;
}


h3.titles1{
    line-height: 40px;
    text-align: center;
    font-weight: 100 !important;
    color: white;
    background-color: #00979D;
}

h4.titles2{
    font-weight: 100 !important;
}

h5.titles2{
    font-size: 18px;
    font-weight: 100 !important;
}

.coderesult{
    background-color: lightgray;
    font-weight: 100;
}

.code{
    height: 400px;
    overflow-y: scroll;
}
