/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    margin: 0 auto;
    width: 73%;
    margin-top: 94px;
    background-color: white;
    padding: 15px;
    display: grid;
    border-radius: 6px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}


md-toolbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.mat-toolbar.mat-primary {
    background-color: rgb(0, 151, 157);
    
}

.menuBig {
    height: 148px;
}

.menuSmall {
    height: 71px;
}

.mat-toolbar-layout{
    margin-top: 53px;
}

md-toolbar-row {
    height: 0px!important;
}

md-toolbar-row .mat-button {
    margin-bottom: 20px;
}


h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
}

